   * {
       position: relative;

   }
                    body {
                        background-image: url("images/1.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;

                    }
                  #logo{
                     
                        color: rgb(215, 217, 218);
                        font-size: 60px;
                        font-family:fantasy;
                        text-decoration: solid;
                        font-style: italic;
                    }
                    a{
                        text-decoration: none;
                        color: aliceblue;
                    }

                    #nav {
                        position: relative;
                            z-index: 0.1;
                       padding-right: 50px;
                       color: antiquewhite;
                       text-decoration-color: aliceblue;
                        background-color:transparent;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 50px;
                        font-weight: 800;
                        font-size: x-large;
                        max-height: max-content;
                        box-shadow: 0 2px rgb(43, 41, 49);  
                    }
                    a:hover{
                        color: crimson;
                    }
                    #img{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 50px;

                    }
                    img:hover{
                        transform: scale(1.1);

                    }
                    p{
                                color:aliceblue;
                                align-items: center;
                                justify-content: center;
                                position: center;
                                padding-left: 30%;
                    }
                    button{
                        height: 40px;
                        width: 150px;
                        font-weight: 300;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: large;
                        background-color: rgb(128, 54, 111);
                            border-radius: 25% 0;
                            border-color: aqua;
                    }
                        
                    button:hover{
                        transform: scale(1.1);
                        
                        }
                        
                        #home {
                            color: blueviolet;
                        }